* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: rgba(0,0,0,0.01);
}

.top-bar {
    app-region: drag;
    height: 40px;
    background-color: rgba(0,0,0,0.02);
}

/* 为按钮等可交互元素添加 no-drag 属性，确保它们可以正常响应点击事件 */
.top-bar button,
.top-bar span,
.top-bar .ant-btn,
.top-bar .ant-dropdown-trigger,
.top-bar .no-drag {
    app-region: no-drag;
}

/* 单行文本样式：保持一行，居中，边距16px，超出缩短 */
.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}

.border{
    border:1px solid;
}

/* 自定义图标悬停效果 */
.span-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.span-icon {
    display: inline-block;
    width: 1rem;
    height: 0.85rem;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid gray;
    transition: background-color 0.2s;
}